{% extends "layout.html" %}

{% block content %}

    <div class="col-md-10 offset-md-2">

{% if zaks %}

<table>
<tr>
<th>Earned</th> <td>{{ sum_geld }}</td>
<th>Used</th>   <td>{{ pay_geld }}</td>
<th>Remains</th><td>{{ remain_geld}}  </td><tr>
</table>
<hr>
<table>
<tr><th>Id</th><th>Child</th><th>Task</th><th>Amount</th><th>Date</th>
{% for zak in zaks %}  

<tr>
<td>{{zak.id}}</td>
<td>{{zak.child.username}}</td>
<td>{{zak.task}}</td>
<td>{{zak.amount}}</td>
<td>{{zak.date}}</td></tr>
{% endfor %}
</table>
</div>

{% else %}
<div class ="row">
    
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
<div class = "alert alert-danger">
   No Zakgeld!!
</div>
</div>
</div>
</div>
{% endif %}

{% endblock content %}