<nav class="navbar navbar-expand-sm bg-dark  justify-content-center navbar-dark"> 
  
  <li class="navbar-nav">
    <a href="{% url 'index' %}" class="navbar-brand">Home</a></li>
    <li class="navbar-nav">
                <a class="navbar-brand" href="{% url 'zak:zaks' %}">Zaks</a></li>
              
    <div class="container py-4"></div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <li class="navbar-brand">
            <a class="navbar-brand" href="{% url 'zak:zakgeld' %}">Zakgeld</a>
            </li>
            
            <li class="navbar-brand">
            <a class="navbar-brand" href="{% url 'zak:addzak' %}">Add Zak</a>
            </li>
            
            <li class="navbar-brand">
            <a class="navbar-brand" href="{% url 'zak:payment' %}">Make Payment</a>
            </li>

            <li class="navbar-brand">
            <a class="navbar-brand" href="{% url 'zak:dashboard' %}">Panel</a>
            </li>
            

            <li class="navbar-brand">
            <a class="navbar-brand" href="{% url 'user:logout' %}">LogOut</a>
              </li>            
            
            <li class="navbar-brand">
            <a class="navbar-brand" href="{% url 'user:switch' %}">Switcht Child</a>
            </li>
            
            
            
            
            
            {% else %}
            <li class="navbar-brand">
                <a class="navbar-brand" href="{% url 'user:login' %}">LogIn</a>
              </li>
            {% endif %}

              <li class="navbar-brand">
                <a class="navbar-brand" href="{% url 'user:register' %}">Register Family</a>
              </li>
              
        </ul>
</nav>

