<center>
<h2><a href="/">Home</a>-<a href="/minizakgeld_add">Add New</a></h2><br>



{% block content %}
<th><h2>N.tasks done: {{ da|length }}  </h2></th>
<table border="1" style="border-color: brown; font-size: 23px;">
<tr><th>Sıra</th><th>İsim</th><th>Açıklama</th><th>Miktar</th><th>Tarih</th></tr>

{% for zakgeld in da %}   

<tr>
    <ol><th><li><th>{{zakgeld.person}} </th><th>{{zakgeld.task}}</th><th>{{zakgeld.amount}}</th><th>{{zakgeld.date_created}}</th>
</li>
</ol>
</tr>   


    {% endfor %}

</table>
    
{% endblock%}

</center>